#sprite-image {
  height: 128px;
  width: 128px;
  background: url(./images/mims-128-sprite.png) 0px 0px;
  position: fixed;
  display: none;
}

.game-board {
  display: grid;
  width: 100%;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
}

.box {
  display: flex;
  justify-content: center;
  color: #aaa;
}

.EE-img {
  height: 70%;
}
.desktop-only-p {
  display: none;
}

@media (min-width: 823px) {
  .desktop-only-p {
    display: block;
  }
  #sprite-image {
    display: block;
  }

  .game-board {
    display: grid;
    height: 80%;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
  }

  .box {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #aaa;
  }

  .EE-img {
    width: 50%;
    height: auto;
  }
}
